<button class="go-back-btn" style="margin-right: 20px; margin-top: 50px; width: 100px; height: 100px; 
                                            border: 2px solid rgba(29, 163, 253, 0.532); border-radius: 50%; background-color: #ffffff;
                                            overflow: hidden; display: flex; align-items: center; justify-content: center;">
        <img src="assets/images/go-back.png" class="go-back" alt="Go Back" (click)="goToTables()">
</button>
<p class="go-back-text">GO BACK TO TABLE LIST</p>


<div class="container">
    <form class="form-signing">
        <div class="text-center">
            <h1 style="opacity: 0.8;">SIGN-UP</h1>
        </div>

        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" id="inputName" placeholder="Enter name" required aria-describedby="nameHelp">
        </div>

        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" #password="ngModel" required name="password" [(ngModel)]="user.password" class="form-control" id="inputPassword" placeholder="Password">
        </div>

        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password is required
        </div>

        <div class="form-role">
            <label for="inputRole">Role</label>
            <select #role="ngModel" required name="role" [(ngModel)]="user.role" class="form-control" id="inputRole">
                <option value="WAITER">WAITER</option>
                <option value="COOK">COOK</option>
                <option value="BARTENDER">BARTENDER</option>
                <option value="CASHIER">CASHIER</option>
            </select>
        </div>

        <div [hidden]="role.valid || role.pristine" class="alert alert-danger">
            Role is required
        </div>

        <div *ngIf="errmessage" class="alert alert-danger" role="alert">
            Signup error: {{errmessage}}
        </div>

        <div class="btn-signup">
            <button class="btn" [disabled]="!name.valid || !password.valid || !role.valid" (click)="signup()">Sign up</button>
        </div>
    </form>
</div>