Taw_.code-workspace
Backend/dist/
Backend/node_modules/
Backend/.env
Mobile
docker-compose.yml
docker-compose.debug.yml
.vscode
Backend/node_modules
Frontend/node_modules
Dockerfile
Backend/Dockerfile
Frontend/Dockerfile
