<!--
<app-order-editor (update)="updateFilter($event)"></app-order-editor>
-->


<div class="center">
    <div *ngIf="filter === -1; else goToItems">
        <button *ngFor="let Order of orders" class="row" (click)="getOrders(Order.tableId)">
            <img src="assets/images/order-list.png" alt="Order List" style="width: 100px; height: 100px;">
            <h3> Table Order: {{Order.tableId}} </h3>
            <h3> Total of the Order: {{Order.total}}</h3>
        </button>
    </div>


    <ng-template #goToItems>
        <div *ngFor="let Order of orders">
            <div *ngFor="let Item of Order.items">
                <p>Prova Prova</p>
            </div>
        </div>
    </ng-template>
</div>