<!--
<app-order-editor (update)="updateFilter($event)"></app-order-editor>
-->

<div class="grid-container" *ngIf="filter === -1; else goToItems">
    
    <button class="go-back-btn" style="margin-right: 20px; margin-top: 50px; width: 100px; height: 100px; 
                                            border: 2px solid rgba(29, 163, 253, 0.532); border-radius: 50%; background-color: #ffffff;
                                            overflow: hidden; display: flex; align-items: center; justify-content: center;">
        <img src="assets/images/go-back.png" class="go-back" alt="Go Back" (click)="back()">
    </button>
    <p class="go-back-text">GO BACK TO TABLE LIST</p>

    <div class="center-title">
        <h1>ORDER LIST:</h1>
    </div>


    <button class="grid-item" *ngFor="let Order of orders" (click)="getOrders(Order.tableId)">

        <div *ngIf="Order.status === 'PENDING'">
            <div class="image-class-pending">
                <img src="assets/images/order-list.png" alt="Order List" style="width: 100px; height: 100px;">
            </div>

            <div class="writes">
                <div class="first-write">
                    <h3> TABLE ORDER: {{Order.tableId}} &nbsp; </h3>
                    <p style="margin-left: -156px; position:relative; opacity: 0.8;">waiter: {{Order.associatedWaiter}}</p>
                </div>
            </div>
        </div>


        <div *ngIf="Order.status === 'QUEUE'">

            <div class="image-class-queue">
                <img src="assets/images/order-list.png" alt="Order List" style="width: 100px; height: 100px;">
            </div>

            <div class="writes">
                <div class="first-write">
                    <h3> TABLE ORDER: {{Order.tableId}} &nbsp; </h3>
                    <p style="margin-left: -156px; position:relative; opacity: 0.8;">waiter: {{Order.associatedWaiter}}</p>
                </div>
            </div>
        </div>


        <div *ngIf="Order.status === 'READY'">

                <div class="image-class-ready">
                    <img src="assets/images/order-list.png" alt="Order List" style="width: 100px; height: 100px;">
                </div>

                <div class="writes">
                    <div class="first-write">
                        <h3> TABLE ORDER: {{Order.tableId}} &nbsp; </h3>
                        <p style="margin-left: -156px; position:relative; opacity: 0.8;">waiter: {{Order.associatedWaiter}}</p>
                    </div>
                </div>
        </div>
    </button>
</div>


<ng-template #goToItems>
    <app-ordered-items [parameterFromParent] = 'filter'></app-ordered-items>
</ng-template>