<app-table-editor (update)="updateFilter($event)"></app-table-editor>

<div class="center">
    <h1 class="title"> TABLE LIST: </h1>
</div>




<div class="center">
    <div class="grid-container">
        <div *ngFor="let Table of tables">
            <div class="grid-item">
                <button class="table-btn" (click)="goToOrder(Table.tableId)">
                    <div *ngIf="Table.free==true" class="tb-free">
                        <p class="free-tb-number">{{Table.tableId}}</p>
                        <img src="assets/images/tableIco.png" alt="Table" class="free-table-image">
                        <p class="free-tb-seats"> TABLE SEATS: &nbsp;{{Table.seats}}</p>
                    </div>
                    
                    <div *ngIf="Table.free==false" class="tb-occ">
                        <p class="occ-tb-number">{{Table.tableId}}</p>
                        <img src="assets/images/tableIco.png" alt="Table" class="occ-table-image">
                        <p class="occ-tb-seats">TABLE SEATS: &nbsp;{{Table.seats}}</p>
                    </div>
                </button>
            </div>
            
            <div *ngIf="userRole === 'CASHIER'" class="bin-div">
                <button class="bin-btn" (click)="deleteTable(Table.tableId)">
                    <img src="assets/images/bin.png" alt="Bin" class="bin-img">
                </button>
            </div>
        </div>

        <div *ngIf="userRole==='CASHIER'" class="plus-div">
            <button class="plus-btn">
                <img src="assets/images/add-item.png" alt="Plus" class="plus-img" (click)="routeAddTable()">
            </button>
        </div>
    </div>   
</div>


<br>
<br>

<div class="center">
    <p><a routerLink="/orders"> View all orders </a></p>
</div>

<div>
    <app-user-editor></app-user-editor>
</div>