<div class="reduce-space">
    <div clss="dropdown-container">
        <app-item-list-editor (update)="getFilteredItems($event)"></app-item-list-editor>
    </div>
</div>

<div class="scrollable-list">
    <div class="item-list" *ngFor="let Item of RetrievedItems">
        <div class="writes">
            <h5>NAME: {{Item.name}}</h5>
            <h5>TYPE: {{Item.type}}</h5>
        </div>
        
        <div class="write-pop">
            <h5>POPULARITY: &nbsp; <progress max="100" value="Item.popularity"></progress></h5>
        </div>

    </div>
</div>
